.logo {
    font-size: 30px !important;
    font-weight: 500;
    margin-top: -5px;
}

/* Base styles for navbar */
.navbar {
    background-color: #ffffff;
    z-index: 1030;
    transition: top 0.3s ease;
}

.navlinks {
    font-size: 16px !important;
    font-weight: 500 !important;
    margin-left: 20px;
    transition: color 0.3s ease-in-out;
}

.navlinks:hover {
    color: #007bff;
    text-decoration: none;
}

@media (min-width: 992px) {
    .navlinks {

        margin-left: 0px;
    }
}